
*.bak
*.out
*.vcd
riscv_core/greybox_tmp/UNUSED.hex
riscv_core/greybox_tmp/cbx_args.txt
*.qmsg
*.hdb
*.cdb
*.ddb
*.rdb
*.qmsg
*.hdb
*.cdb
*.rdb
*.bpm
*.qmsg
*.hdb
*.hdb
*.qmsg
*.sdo
Riscv_Quartus_Project/top.qws
